.feature-container {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 18px 20px;
  border-radius: 20px;
  @include glass;

  .align-left {
    text-align: left;
  }
  .align-right {
    text-align: right;
  }

  .icon-container {
    font-size: 3.2rem;
    padding: 16px;
    color: $theme-accent;
  }
}
