.polls-container {
  @include glass;
  margin-top: 40px;
  text-align: center;
  padding: 48px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  @include box-shadow;
  animation: fadeInScale 0.5s ease-out;

  h1 {
    font-weight: 800;
    margin-bottom: 2rem;
    color: $theme-primary;
  }

  .votes-wrapper {
    padding-top: 40px;
    width: 100%;
  }
}